<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="input-group mb-5">
          <input type="text" class="form-control" placeholder="Type your query e.g. mountains and swimming pools near Vienna"
            aria-label="Type your query" title="Currently handled climate terms: cold, mild, warm"
            aria-describedby="button-addon2" [(ngModel)]="query" name="queryInput">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-addon2" (click)="search()"
              [disabled]="query == ''">Search</button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="!errorMessage" class="col-12 results">
      <table class="table" *ngIf="recommendations.length > 0">
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Score</th>
          <th>Details</th>
        </tr>
        <tr *ngFor="let rec of recommendations; let i=index">
          <td>{{ i + 1 }}</td>
          <td>{{ rec.name }} (<a href="https://www.google.pl/maps/place/{{ rec.name }}" target="_blank">map</a>)</td>
          <td>{{ rec.score | number : '1.2-2' }}</td>
          <td class="smaller">
            {{ rec.geofeatures_places.length }} suitable geofeatures found
            <a href="#" (click)="openDetailsList(rec.name + ' - geofeatures', rec.geofeatures_places)">Show</a>
            <br>
            {{ rec.activities_places.length }} places suitable for indicated activities found
            <a href="#" (click)="openDetailsList(rec.name + ' - activities', rec.activities_places)">Show</a>
            <br>
          </td>
        </tr>
      </table>

      <ngx-spinner [fullScreen]="false" type="line-scale-party" size="medium" bdColor="rgba(51,51,51,0.7)">
      </ngx-spinner>
    </div>

    <div *ngIf="errorMessage" class="col-12">
      <div class="alert alert-danger w-100" role="alert">
        {{ errorMessage }}
      </div>
    </div>

  </div>
</div>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{ modalName }}</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 results">
          <table class="table" *ngIf="detailsList.length > 0">
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Distance</th>
              <th>Score</th>
            </tr>
            <tr *ngFor="let el of detailsList; let i=index">
              <td>{{ i + 1 }}</td>
              <td>{{ el.name }} (<a
                  href="https://www.google.pl/maps/place/{{ wktToGoogleMapsSearchString(el.coordinates) }}"
                  target="_blank">map</a>)
              </td>
              <td>{{ el.distance | number : '1.2-2' }} km</td>
              <td>{{ el.score | number : '1.2-2' }}</td>
            </tr>
          </table>
          <span *ngIf="detailsList.length === 0">
            Nothing found
          </span>
        </div>
      </div>
    </div>
  </div>
</div>